@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Oswald', sans-serif; */
}

.abouttop-aboutpage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    color: #D77512;
    align-items: flex-end;
    /* font-family: ; */
    font-size: 45px;
    letter-spacing: 15px ;
    text-transform: uppercase;
    font-family: Big Shoulders Display;
    /* background-color: #32564C; */
}
.abouttop-aboutpage h1{
    text-align: center;
    background: linear-gradient(to left, transparent, black);

}
.image-top-aboutpage{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -5;
}
/* .abouttop-aboutpage::before{
    content: '';
    /* background-image: url('https://res.cloudinary.com/dzbdnlr0f/image/upload/v1630525873/alcove/pexels-victoria-borodinova-1648776_frdbrk.jpg'); */


.aboutcompany-aboutpage{
    width: 100%;
    height: 350px;
    background-color: #97ABA6;
    display: flex;
    flex-direction: row;
}

.aboutcompany-leftbox{
    width: 33%;
}

.aboutcompany-leftbox-text{
    width: 70%;
    height: 80%;
    margin: 3rem 3rem 1rem 3rem; 
    text-align: center;
    font-family: Big Shoulders Display;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 5.6rem;
letter-spacing: 0.085em;

color: #32564C;
}

.text-aboutourcompany{
    padding-right: 0rem;
    border-right: 6px solid #D77512;
    
}

.aboutcompany-rightbox{
    width: 67%;
    display: flex;
    flex-direction: row;
}

.aboutcompany-rightbox-text1, .aboutcompany-rightbox-text2{
    width: 45%;
    margin: 5rem 3rem 5rem 3rem;
    font-size: 20px;
    font-family: oswald;
    /* font-family: Big Shoulders Display; */
    font-weight: lighter;
    padding: 0rem 3rem 0rem 3rem;
}

/* our designers css */

.ourdesigners{
    width: 100%;
    height: 850px;
    background-color: #32564C;
    display: flex;
    flex-direction: row;
}

.ourdesigners-leftbox{
    width: 67%;
    height: 100%
}

.ourdesigners-leftbox-images{
    width:100%;
    height: 100%
}

.ourdesigners-image{
    margin: 20px;
    justify-content: space-around;
}

.designer1, .designer2, .designer3, .designer4, .designer5, .designer6{
    width: 300px;
    height: 400px;
    padding: 2rem;
}

.ourdesigners-rightbox{
    width: 33%;
}

.ourdesigners-righttbox-text{
    width: 70%;
    height: 100%;
    margin: 3rem 3rem 1rem 3rem; 
    text-align: center;
    color: whitesmoke;
}

.heading-ourdesigners{
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 5.6rem;
    letter-spacing: 0.085em;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #97ABA6;
    border-bottom: 6px solid #D77512;
}

.subheading-ourdesigners{
    /* width: 45%; */
    /* margin: 5rem 3rem 5rem 3rem; */
    font-size: 25px;
    font-family: oswald;
    /* font-family: Big Shoulders Display; */
    font-weight: lighter;
    margin-top: 2rem;

    /* padding: 0rem 3rem 0rem 3rem;   */
}

/* latest projects css */

.latestprojects{
    width: 100%;
    height: 900px;
    background-color: #97ABA6;
    display: flex;
    flex-direction: column;
}

.topsection-latestprojects, .bottomsection-latestprojects{
    width: 100%;
    height: 450px;
}

.topsection-box, .bottomsection-box{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftbox-latest-projects, .rightbox-latest-projects{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox-latest-projects{
    width: 70%;
    height: 100%;
    /* margin: auto; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.latestproject1{
    width: 750px;
    height: 450px;
    padding: 2rem;
}

.heading-latest-projects{
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 5.6rem;
    letter-spacing: 0.15em;
    /* padding-top: 1rem; */
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    color: #32564C;
    border-bottom: 6px solid #D77512;
}

.subheading-latest-projects{
    font-size: 25px;
    font-family: oswald;
    /* font-family: Big Shoulders Display; */
    font-weight: lighter;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

/* Our Founders */

.our-founders{
    width: 100%;
    height: 700px;
    background-color: #32564C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.text-ourfounder{
    width: 30%;
}

.heading-ourfounder{
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 6.6rem;
    letter-spacing: 0.18em;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #97ABA6;
    border-bottom: 6px solid #D77512;
    text-align: center;
}

.ourfounders-box{
    width: 300px;
    height: 80vh;
    background-color: #97ABA6;
    margin-left: 2rem;
}

.sai-image, .shantanu-image{
    width: 300px;
    height: 400px;
}

.text-box-founder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.founder-name{
    font-family: sans-serif;
    font-size: 1.2rem;
}
.branch-college-name-founder{
    font-family: sans-serif;
    font-size: 0.7rem;
    padding: 0.7rem;
    line-height: 2rem;
    text-align: center;
}

.text-founder-cofounder{
    color: #32564C;
}

/* .text-ourdesigners{

} */



/* .aboutpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* .image-box-aboutpage{
    width: 100%;
    height: 50%;
    background-color: #32564C;
    display: flex;
} */

/* .aboutus-aboutpage{
    width: 100%;
    height: 50%;
    background-color: #97ABA6;
} */

/* .image-top-aboutpage{
    width: 400px;
height: 300px;
background-size: contain;
height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .ourdesigners-aboutpage{
    width: 100%;
    height: 50%;
    background-color: #32564C;
} */