@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Oswald', sans-serif; */
}

.abouttop-aboutpage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    color: #D77512;
    align-items: flex-end;
    /* font-family: ; */
    font-size: 45px;
    letter-spacing: 15px ;
    text-transform: uppercase;
    font-family: Big Shoulders Display;
    /* background-color: #32564C; */
}
.abouttop-aboutpage h1{
    text-align: center;
    background: linear-gradient(to left, transparent, black);

}
.image-top-aboutpage{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -5;
}
/* .abouttop-aboutpage::before{
    content: '';
    /* background-image: url('https://res.cloudinary.com/dzbdnlr0f/image/upload/v1630525873/alcove/pexels-victoria-borodinova-1648776_frdbrk.jpg'); */


.aboutcompany-aboutpage{
    width: 100%;
    height: 350px;
    background-color: #32564C;
    display: flex;
    flex-direction: row;
}

.aboutcompany-leftbox{
    width: 33%;
}

.aboutcompany-leftbox-text{
    width: 70%;
    height: 80%;
    margin: 3rem 3rem 1rem 3rem; 
    text-align: center;
    font-family: Big Shoulders Display;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 5.6rem;
letter-spacing: 0.085em;
display: flex;
    align-items: center;
    justify-content: center;
color: #97ABA6;
}

.text-aboutourcompany{
    padding-right: 0rem;
    border-right: 6px solid #D77512;
    
}

.aboutcompany-rightbox{
    width: 67%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aboutcompany-rightbox-text1, .aboutcompany-rightbox-text2{
    width: 45%;
    margin: 5rem 3rem 5rem 3rem;
    font-size: 20px;
    font-family: oswald;
    /* font-family: Big Shoulders Display; */
    font-weight: lighter;
    padding: 0rem 3rem 0rem 3rem;
    color: whitesmoke;
}

/* our designers css */

.ourdesigners{
    width: 100%;
    height: 850px;
    background-color: #97ABA6;
    display: flex;
    flex-direction: row;
}

.ourdesigners-leftbox{
    width: 67%;
    height: 100%
}

.ourdesigners-leftbox-images{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourdesigners-image{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
}

.designers-pic{
    width: 300px;
    height: 400px;
    padding: 2rem;
}

.ourdesigners-rightbox{
    width: 33%;
}

.ourdesigners-righttbox-text{
    width: 70%;
    height: 100%;
    margin: 3rem 3rem 1rem 3rem; 
    text-align: center;
    /* color: whitesmoke; */
}

.heading-ourdesigners{
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 5.6rem;
    letter-spacing: 0.085em;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #32564C;
    border-bottom: 6px solid #D77512;
}

.subheading-ourdesigners{
    /* width: 45%; */
    /* margin: 5rem 3rem 5rem 3rem; */
    font-size: 25px;
    font-family: oswald;
    /* font-family: Big Shoulders Display; */
    font-weight: lighter;
    margin-top: 2rem;

    /* padding: 0rem 3rem 0rem 3rem;   */
}

/* latest projects css */

.latestprojects{
    width: 100%;
    height: 900px;
    background-color: #32564C;
    display: flex;
    flex-direction: column;
}

.topsection-latestprojects, .bottomsection-latestprojects{
    width: 100%;
    height: 450px;
}

.topsection-box, .bottomsection-box{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftbox-latest-projects, .rightbox-latest-projects{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox-latest-projects{
    width: 70%;
    height: 100%;
    /* margin: auto; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.latestproject1{
    width: 750px;
    height: 450px;
    padding: 2rem;
}

.heading-latest-projects{
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 5.6rem;
    letter-spacing: 0.15em;
    /* padding-top: 1rem; */
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    color: #97ABA6;
    border-bottom: 6px solid #D77512;
}

.subheading-latest-projects{
    font-size: 25px;
    font-family: oswald;
    /* font-family: Big Shoulders Display; */
    font-weight: lighter;
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: whitesmoke;
}

/* Our Founders */

.our-founders{
    width: 100%;
    height: 700px;
    background-color: #97ABA6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.text-ourfounder{
    width: 30%;
}

.heading-ourfounder{
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 6.6rem;
    letter-spacing: 0.18em;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #32564C;
    border-bottom: 6px solid #D77512;
    text-align: center;
}

.aboutfoun{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}
.aboutfoun .founcard{
    position: relative;
    width: 300px;
    height: 400px;
    background: #32564C;
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.aboutfoun .founcard .founcon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: all 0.5s;
}
.aboutfoun .founcard:hover .founcon{
    opacity: 1;
}
.aboutfoun .founcard .founcon .founimg{
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.aboutfoun .founcard .founcon .founimg img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
}
.aboutfoun .founcard .founcon .founcontent h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.aboutfoun .founcard .founcon .founcontent span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.founcard .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.founcard .sci li{
    list-style: none;
    margin: 0% 10px;
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.5s;
}
.founcard:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.founcard:hover .sci .githubic{
    transition-delay: 0.1s;
}
.founcard:hover .sci .instaic{
    transition-delay: 0.2s;
}
.founcard:hover .sci .linkedic{
    transition-delay: 0.3s;
}
.sci li a{
    color: #fff;
    font-size: 24px;
}
.sci li a img{
    width: 20px;
    height: 20px;
}

/* ABOUT COMPANY SECTION RESPONSIVE */

@media (max-width: 1350px){
    .aboutcompany-leftbox-text{
        font-size: 34px;
    line-height: 5.1rem;
    letter-spacing: 0.085em;
    }
}

@media (max-width: 1400px){
    .aboutcompany-leftbox-text{
        margin: 3rem 1rem 1rem 3rem;  
    }
    .aboutcompany-rightbox-text1, .aboutcompany-rightbox-text2{
        padding: 0px;
    }
}

@media (max-width: 1100px){
    .aboutcompany-rightbox-text1, .aboutcompany-rightbox-text2{
        margin: 5rem 1rem 5rem 1rem;
    }

    .aboutcompany-leftbox-text{
        font-size: 28px;
    line-height: 4.6rem;
    letter-spacing: 0.085em;
    }
}

@media (max-width: 1100px){
    .aboutcompany-leftbox-text{
        margin: 3rem 0rem 1rem 3rem;
    }
}

@media (max-width: 900px){
    .aboutcompany-leftbox-text{
        font-size: 24px;
    line-height: 4.1rem;
    letter-spacing: 0.085em;
    }

    .aboutcompany-rightbox-text1, .aboutcompany-rightbox-text2{
        font-size: 18px;
    }
}

@media (max-width: 800px){
    .aboutcompany-rightbox-text1, .aboutcompany-rightbox-text2{
        margin: 2rem 1rem 2rem 1rem;
    }
}

@media (max-width: 600px){

    .aboutcompany-leftbox {
        width: 100%;
    }
    .aboutcompany-aboutpage{
        display: flex;
        flex-direction: column;
        height:fit-content
    }

    .aboutcompany-rightbox{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .aboutcompany-rightbox-text1, .aboutcompany-rightbox-text2{
        width: 100%;
    }

    .text-aboutourcompany {
        padding-right: 0rem;
        border-right: 0px solid #D77512;
        border-bottom: 6px solid #D77512;
    }
}


/* our designers responsive */

@media (max-width: 1420px){
    .designers-pic{
        width: 270px;
        height: 360px;
        padding: 1rem;
    }
}

@media (max-width: 1320px){
    .designers-pic{
        width: 240px;
        height: 320px;
        padding: 1rem;
    }

    .ourdesigners-righttbox-text {
        width: auto;
        margin: 3rem 1rem 1rem 1rem;
        text-align: center;
        height: fit-content;
    }

    .heading-ourdesigners{
        font-size: 34px;
    }
}

@media (max-width: 1150px){
    .designers-pic{
        width: 210px;
        height: 280px;
        padding: 1rem;
    }
}

@media (max-width: 1000px){
    .designers-pic{
        width: 180px;
        height: 240px;
        padding: 1rem;
    }
}

@media (max-width: 880px){
    .ourdesigners{
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
    }

    .ourdesigners-image{
        padding: 0.5rem;
    }

    .ourdesigners-rightbox, .ourdesigners-leftbox{
        width: 100%;
        height: fit-content;
    }

    .ourdesigners-righttbox-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading-ourdesigners{
        border-bottom: 6px solid #D77512;
        /* border-right: 6px solid #D77512; */
        padding: 0px;
    }

    .subheading-ourdesigners {
        margin: 0px;
        padding: 1rem;
    }
}

@media (max-width: 600px){
    .designers-pic{
        width: 150px;
        height: 200px;
        padding: 0.5rem;
    }
}





/* .text-ourdesigners{

} */



/* .aboutpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* .image-box-aboutpage{
    width: 100%;
    height: 50%;
    background-color: #32564C;
    display: flex;
} */

/* .aboutus-aboutpage{
    width: 100%;
    height: 50%;
    background-color: #97ABA6;
} */

/* .image-top-aboutpage{
    width: 400px;
height: 300px;
background-size: contain;
height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .ourdesigners-aboutpage{
    width: 100%;
    height: 50%;
    background-color: #32564C;
} */