@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-landing{
    width: 50%;
    height: 100vh;
    background-color: #97ABA6;
}


.text-box-landing{
    /* width: fit-content; */
    width: 70%;
    height: 48%;
    margin-top: 15%;
    margin-left: 10%;
}

.heading-landing{
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
font-weight: bold;
font-size: 74px;
line-height: 172px;
letter-spacing: 0.085em;
margin-bottom: 50px;
color: #32564C;
}

.subheading-landing{
    font-family: SansSerif;
font-style: normal;
font-weight: 100;
font-size: 50px;
text-transform: uppercase;
line-height: 4rem;
color: #32564C;
}

.right-landing{
    width: 50%;

    background-color: #32564C;
    display: flex;
    flex-direction: row;
}

.vertical-box-landing{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
.image-box-right-landing img{
    position: absolute;
    top: 19%;
    left: 40%;
    width: 40vw;
    height: 50%;
}
.vertical-text{
font-size: 85px;
margin-left: 68%;
padding: 0%;
width: 100vh;
height: 100vh;
text-align: left;
bottom: 0;
font-family: Big Shoulders Display;
font-style: normal;
font-weight: bold;
line-height: 320px;
letter-spacing: 0.4em;
color: #97ABA6;
/* overflow: visible; */
opacity: 0.15;
transform: rotate(-90deg);
}
.bottom-info{
    position: absolute;
    bottom: 7.5%;
    left: 15%;
    width: 70%;
    height: 20%;
    border: 4px solid #D77512;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: #EAEBEA;
}
.infobox{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #D77512;
}
.infohead{
    font-size: 30px;
    margin: auto;
}
.infocon{
    margin: auto;
}
.last{
    border: none;
}